WebAppGeoElasticsearch/bin
WebAppGeoElasticsearch/obj
WebAppGeoElasticsearch.v12.suo
WebAppGeoElasticsearch/WebAppGeoElasticsearch.csproj.user
packages
.vs/config/applicationhost.config
.vs/WebAppGeoElasticsearch/v15/.suo
