
@*Bern	46.94792, 7.44461 *@
@model WebAppGeoElasticsearch.Models.MapModel

<input type="hidden" value="@Model.MapData" id="mapdata" name="mapdata" />

@using (Html.BeginForm("Search", "Home"))
{
    <fieldset class="form">
        <legend>SEARCH for closest document in the search engine using geo distance</legend>
        <table width="800">
            <tr>
                <th></th>
            </tr>
            <tr>
            
            </tr>
            <tr>
                <td>
                    <input id="button" type="button" title="Search for closest: " value="Search fo closest: " style="width: 300px" />
                </td>
                <td>
                    <input type="hidden" value="7.44461" id="centerLongitude" name="centerLongitude" />
                    <input type="hidden" value=" 46.94792" id="centerLatitude" name="centerLatitude" />

                </td>
                <td>
                    <p style="width: 300px">Max distance in meter:</p>
                    <input id="maxDistanceInMeter" name="maxDistanceInMeter" type="text" title="" value="3000" style="width: 200px" />
                </td>
            </tr>
        </table>
    </fieldset>

}

<div class="row">
    @*Bern	46.94792, 7.44461 *@
    <div id="googleMap" style="width: 1000px; height: 800px;">
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markermanager/src/markermanager.js"></script>

    <script language="javascript" type="text/javascript">
        var map;
        var mgr;

        function initialize() {
            var myOptions = {
                zoom: 13,
                center: new google.maps.LatLng(46.94792, 7.44461),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("googleMap"), myOptions);
            mgr = new MarkerManager(map);
            var infoWindow = new google.maps.InfoWindow({ content: "contents" });
            google.maps.event.addListener(mgr, 'loaded', function() {

                var modelData = $.parseJSON($("#mapdata").val());

                $.each(modelData, function(entryIndex, entry) {
                    //alert("Data" + entry.DetailsCoordinates + ", " + entry.Details);

                    var htmlString = "<a href=\"" + entry.Details + "\">" + entry.Name + "</a>";
                    var coor = entry.DetailsCoordinates.toString();
                    var array = coor.split(',');
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(array[1], array[0]),
                        html: htmlString,
                        icon: "http://localhost:2765/Content/yourposition.png"
                });

                google.maps.event.addListener(marker, "click", function() {
                    infoWindow.setContent(this.html);
                    infoWindow.open(map, this);
                });

                mgr.addMarker(marker, 0);

            });

                var homemarker = new google.maps.Marker({
                    position: new google.maps.LatLng(46.94792, 7.44461),
                    html: "YOU", draggable: true,
                    icon: "http://localhost:2765/Content/ort.png"
                });
                google.maps.event.addListener(homemarker, 'dragend', function(evt) {
                    alert('Marker dropped: Current Lat: ' + evt.latLng.lat().toFixed(3) + ' Current Lng: ' + evt.latLng.lng().toFixed(3));
                    document.getElementById('centerLongitude').val(evt.latLng.lng().toFixed(3));
                    document.getElementById('centerLatitude').val(evt.latLng.lat().toFixed(3));
                });

                mgr.addMarker(homemarker, 0);

            mgr.refresh();
        });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}